.container-bg{

    background-size: contain;
    height: 90vh;
    background-repeat: no-repeat;
    margin: 3vh 20vh 3vh 20vh;
    display: flex;
    align-items: center;
    text-align: center;
}
.container-title{
    color: white;
    width: 100%;
}
body{
    background-color: lightgray;
}
H1 {
    display: inline;
    font-size:10vh;
}